<h2 mat-dialog-title>{{ isEditMode ? 'Edit Task' : 'Add New Task' }}</h2>

<mat-dialog-content>
  <form [formGroup]="taskForm" class="task-form">

    <mat-form-field appearance="fill">
      <mat-label>Task Name</mat-label>
      <input matInput formControlName="name" placeholder="Enter task name" required>
      <mat-error *ngIf="name?.invalid && (name?.dirty || name?.touched)">
        <span *ngIf="name?.errors?.['required']">Task name is required.</span>
        <span *ngIf="name?.errors?.['minlength']">Name must be at least 3 characters.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" placeholder="Enter task description" required></textarea>
      <mat-error *ngIf="description?.invalid && (description?.dirty || description?.touched)">
        <span *ngIf="description?.errors?.['required']">Description is required.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Due Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dueDate" required>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
       <mat-error *ngIf="dueDate?.invalid && (dueDate?.dirty || dueDate?.touched)">
        <span *ngIf="dueDate?.errors?.['required']">Due date is required.</span>
      </mat-error>
    </mat-form-field>

     <mat-checkbox formControlName="isCompleted" *ngIf="isEditMode" class="task-completed-checkbox">
       Mark as Completed
     </mat-checkbox>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="taskForm.invalid">
    {{ isEditMode ? 'Update' : 'Save' }}
  </button>
</mat-dialog-actions>
