.app-container { height: 100vh; border: 1px solid rgba(0, 0, 0, 0.5); }
.app-sidenav { width: 230px; border-right: 1px solid rgba(0, 0, 0, 0.12); }
.app-sidenav-content { display: flex; flex-direction: column; height: 100%; }
.app-toolbar { position: sticky; top: 0; z-index: 2; }
.main-content { flex-grow: 1; padding: 20px; overflow: auto; }
.spacer { flex: 1 1 auto; }
.active-link { background-color: rgba(0, 0, 0, 0.04); font-weight: bold; }
